

<div class="container-fluid text-center my-5 ">

    <h3 class="text-center">Прогресс работы программы:</h3>
    <div class="container-fluid text-center my-5">
        <div id="progress-container">
            @ViewBag.Message
        </div>
    </div>
  
    @using (Html.BeginForm("DownloadCSVFileFromEmail", "PriceList", FormMethod.Post))
    {
        <button id="downloadButton" class="btn bg-primary my-5">Загрузить файл</button>
    }

@if (ViewBag.CustomErrors != null && ViewBag.CustomErrors.Count > 0)
{
    <div class="container-fluid text-center my-5">
        <div id="progress-container">
            <h4>Ошибки ковертации:</h4>
            @foreach (var error in ViewBag.CustomErrors)
            {
                <li>@error</li>
            }
        </div>
    </div>
}
</div>
